#form {
  width: 32px;
  height: 36px;
  background-color: lightgray;
  font-family: Calibri;
}

#config_name {
  font-size: 18px;
  font-variant: petite-caps;
  font-weight: bolder;
}

#intro, #link, p {
  font-size: 14px;
}

input[type="text"] {
  border-radius: 5px 0px 0px 5px !important;
  height: 27.3px;
  margin-top: 3px;
  border: solid gray 1px;
  border-right: none;
}

input[type="checkbox"] {
  margin-left: 0px;
  position: absolute;
  width: 31px;
  height: 31px;
}